@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@mixin clearfix {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

$project-font: "Lato", sans-serif;
$light-project-grey: rgba(119, 119, 119, 255);
$dark-project-grey: #222222;

$phone_portrait: "(max-width: 767px) and(orientation: portrait)";
$phone_landscape: "(max-width: 767px) and(orientation: landscape)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px) and (max-width: 1199px)";
$desktop_large: "(min-width: 1200px)";

body  {
	margin: 0;
	overflow: auto;

	h3 {
		font-family: $project-font;
		font-size: 60px;
		color: $dark-project-grey;
		text-transform: capitalize;
		font-weight: 300;
	}

	p {
		font-family: $project-font;
		color: $light-project-grey;
		font-size: 18px;
		font-weight: 400;

	}


	h4 {
		font-family: $project-font;
		font-weight: 400;
		text-transform: capitalize;
		font-size: 22px;
	}

	.text-bold {
		font-weight: 700;
	}


}

* {
	box-sizing: border-box;
}

@font-logo-left {
font-family: 'Cubano';
src: url("fonts/cubano-webfont.ttf") format('truetype');
font-weight: normal;
font-style: normal
}

.jumbotron {
	background-image: url('../images/Nightbridge.png');
	size: cover;
	repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 0% 100%;
	overflow: hidden;
	resize: both;
	color: #fff;
	height: 801px;
}

.jumbotron {
	.navbar-default {
		background-color: transparent;
		border: none;
		width: 100%;
	}
	.navbar-default {
		.row {
			width: 100%;
		}
		.navbar-brand {
			margin-left: 160px;
			ul {
				list-style-type: none;
				display: flex;
				//border: 1px red solid;
				padding-left: 0;
			}

			li {
				display: flex;
				justify-content: flex-start;
				align-items: baseline;
			}


			.fas {
				line-height: 25px;
				font-size: 25px;
				color: #fff;
				padding-right: 10px;
			}

			h2 {
				text-transform: uppercase;
				font-size: 25px;
				font-family: 'Cubano', sans-serif;
				font-weight: bold;
				color: #fff;
			}
		}

 		.navbar-collapse {
			.navbar-nav {
 				float: right;
 				display: flex;
 				justify-content: flex-end;
				margin-left: 7.5%;
 				li {
 					a {
	 					color: #fff;
	 					font-size: 18px;
	 					text-align: center;
	 					font-family: $project-font;
	 					transition: 1s linear;
						padding: 0 10px;
 					&:hover {
 						background-color: #ff944d;
 						color: #26004d;
 						text-decoration: none;
 					}
 					&:active {
 						background-color: #ff944d;
 						color: #26004d;
 						text-decoration: none;
 					}
 					}
 				}
 			}
		}

	}

	.home {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: #fff;
		text-align: center;
		font-family: $project-font;
	}

	.home {
		h2 {
			font-weight: 400;
			font-size: 32px;
			margin-top: 170px;
		}

		h1 {
			font-weight: 700;
			font-size: 66px;
			text-transform: uppercase;
			margin-top: 41px;
			margin-bottom: 69px;
		}

		button {
			font-weight: 400;
			font-size: 23px;
			height: 65px;
			width: 240px;
			border: 2px solid #fff;
			background-color: transparent;
			text-transform: capitalize;
			color: #fff;
		}
	}
}

.services {
	width: 100%;
	height: auto;
	overflow: hidden;
}

.services {

	.row {
		@include clearfix;
		display: flex;
		align-items: center;
		height: 440px;
	}

	.container {
		max-width: 100%;
		width: 933px;
		margin: 0 auto;
	}

	h3 {
		color: $dark-project-grey;
		text-align: left;
	}
	p {
		text-align: left;
	}
}


.skills {
	margin-bottom: 100px;
}

.skills {
	width: 100%;
	overflow: hidden;
	.row {
		@include clearfix;
	}
	.media {
		margin-bottom: 50px;
		.media-object {
			height: 71px;
			width: 71px;
			background-color: $dark-project-grey;
			border: none;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
		}

		.fas {
			font-size: 40px;
			text-align: center;
			color: #fff;
		}

		.far {
			@extend .fas;
		}

		h4 {
			color: $dark-project-grey;
			text-align: left;
			padding-left: 20px;
			margin-top: 0;
		}

		p {
			padding: 0 90px 0 20px;
		}
	}
}

.clients  {
	width: 100%;
	height: 810px;
	margin-top: 100px;
	overflow: hidden;
}

.clients {

	.container {
		width: 1000px;
		margin: 0 auto;
	}

	.row {
		.col-lg-8 {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
		}
	}

	.clients_title {
		margin: 0 auto;
	}

	.clients_title  {
		h3 {
			text-align: center;
			margin: 0 auto;
		}

		p {
			text-align: center;
			font-size: 22px;
			text-transform: none;
			margin-top: 0;
		}
	}

	.clients_image-left {
		width: 1000px;
		display: flex;
		align-items: center;
		margin-bottom: 50px;
	}

	.clients_image-right {
		@extend .clients_image-left;
	}

	.clients_image-left {
		.image-circle {
			float: left;
		}

		.col-lg-8 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
		}
	}

	.clients_image-right {
		.image-circle {
			float: right;
		}
		.col-lg-8 {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			padding-left: 100px;
		}
	}

	.image-circle {
		height: 221px;
		width: 221px;
		border-radius: 50%;
		border: none;
		background-color: $dark-project-grey;

	}

	h4 {
		font-size: 26px;
		color: $light-project-grey;
		text-transform: none;
		text-align: center;
		width: 540px;
	}

	h5 {
		font-family: $project-font;
		font-weight: 400;
		font-size: 20px;
		color: rgba(118, 144, 197, 255);
		text-align: left;
		padding-left: 15px;
	}

	.clients_logo {
		width: 800px;
		margin: 0 auto;
		display: flex;
	}

	.col-lg-3 {
		display: flex;
		align-items: baseline;
		justify-content: center;
		img {
			width: 190px;
		}
	}

	.col-lg-3 {
		.image_logo-third {
		margin-top: 3px;
		}
	}
}

.team {
	width: 100%;
	height: 800px;
	overflow: hidden;
	background-color: $dark-project-grey;
	color: #fff;
}

.team {
	.container {
		width: 800px;
		margin: 0 auto;
	}

	.row {
		@include clearfix;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.team_title {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 100px;
		margin-bottom: 50px;
	}

	.team_title {

		h3 {
			color: #fff;
			margin: 0 auto;
			text-align: center;
		}

		p {
				color: $light-project-grey;
				text-align: center;
				font-size: 22px;
				text-transform: none;
				margin-top: 0;
		}
	}


	.col-lg-4 {
		display: flex;
		flex-direction: column;
		-webkit-flex-direcition: column;
		align-items: center;
		justify-content: center;
	}

	.team_image {
		width: 220px;
		height: 220px;
		border-radius: 50%;
		border: 5px solid #fff;
	}
	.team_description {
		margin: 10px auto;
	}

	.team_description {
		p {
		color: #fff;
		text-align: center;
		}
	}

	.team_icons {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 141px;
	}

	.team_icons-circle {
		height: 40px;
		width: 40px;
		border: 3px solid #fff;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 7px;
	}

	.team_icons {
		.fa {
			color: #fff;
			font-size: 20px;
			text-align: center;
		}
	}

	.team_paragraph {
		width: 600px;
		margin: 0 auto;
	}

	.team_paragraph {
		p {
			font-size: 20px;
			color: rgba(235, 235, 235, 255);
			text-align: center;
			margin-top: 50px;
		}
	}

}

.footer {
	width: 100%;
	height: 680px;
	background-color: #7690c5;
	padding-top: 100px;
	overflow: hidden;
}

.footer {
	.container {
		width: 940px;
		margin: 0 auto;
	}

 	form {
 		margin-top: 35px;
 	}

 	form {
 		input {
 			height: 51px;
 			}
 	}

   h3 {
   		color: #fff;
   }

   p {
   		color: #fff;
   		text-align: left;
   }

   .fa {
   		color: #fff;
   		font-size: 26px;
   		text-align: center;
   }

   .fas {
   	@extend .fa;
   }

   .far {
   	@extend .fa;
   }
   .footer_contact {
   		margin-right: 10px;
   }

   .footer_contact-title {
   		padding-left: 10px;
   }

   .footer_contact-title {
   		p {
   			margin-bottom: 40px;
   		}
   }

   .footer_contact-info {
   	 	.row {
   	 		height: 55px;
				.media {
					width: 200px;
					.media-left {
						.media-object {
							width: 40px;
						}
					}
					.media-body {
						p {
							text-align: left;
						}
					}
				}
   	 	}

   }

   .footer_copyrights {
   		display: flex;
   		-webkit-flex-direction: column;
   		flex-direction: column;
   		align-items: center;
   		justify-content: center;
   		margin-top: 90px;
			margin-bottom: 40px;
   }

   .footer_copyrights-rectangle {
   		height: 1px;
   		width: 940px;
   		background-color: #fff;
   }

   .footer_copyrights {
   		p {
   		margin-top: 31px;
   		}
   }
}

@media #{$phone_portrait}  {
.jumbotron {
	background-image: url('../images/Nightbridge.png');
	size: cover;
	repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: 50% 100%;
	overflow: hidden;
	resize: both;
	color: #fff;
	height: 801px;
}
.jumbotron {
	.navbar-default {
	.navbar-brand {
		margin-left: 0;
	}
}
	.home {
		h2 {
			margin-top: 70px;
		}
		h1 {
			margin-bottom: 30px;
			margin-top: 20px
		}
	}
	.col-xs-6 {
		width: 50%;
	}
	.navbar-toggler  {
		margin-left: 60%;
		background-color: transparent;
		cursor: pointer;
		.fas {
		 background-color: transparent;
		 color: #fff;
		}
	}
}



	.services {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		margin-bottom: 100px;
	}

	.services {
		.container {
			max-width: 100%;
			width: auto;
			h3 {
				font-size: 55px;
				text-align: center;
			}
			p {
				text-align: center;
			}
			.col-xs-12 {
				 display:flex;
				 flex-direction: column;
				 align-items: center;
				 justify-content: center;
			 }
		}

		.row {
			display: flex;
			flex-direction: column;
			height: auto;
		}

		.row:first-of-type {
			display: flex;
			flex-direction: column-reverse;
		}
	}
	.skills {
		margin-bottom: 0;
		.media {
			p {
				padding: 0 10px 0 20px;
			}
		}
	}

	.clients {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			margin-top: 50px;

		.container {
			max-width: 100%;
			width: auto;
			margin: auto;
		}

		.clients_title {
			width: auto;
			margin-bottom: 50px;
		}

		.clients_image-left {
			width: auto;
			display: block;

			.col-xs-12 {
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}

		.clients_image-right {
			width: auto;
			display: block;

			.col-xs-12 {
				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: 0;
			}
		}

		h4 {
			width: 100%;
			padding: 25px 0;
		}

		.clients_logo {
			width: auto;
			height: auto;
			margin: 0 auto;
			display: block;
			.col-xs-12 {
				margin-bottom: 25px;
			}
		}

		.row:last-of-type {
			margin-bottom: 50px;
		}
	}

	.team {
		width: 100%;
		height: auto;
		background-color: $dark-project-grey;
		color: #fff;
	}

	.team {

		.container {
			max-width: 100%;
			width: auto;
			margin: 0 auto;
		}

		.team_title {
			margin-top: 50px;
		}


		.row {
			display: flex;
			flex-direction: column;
			-webkit-flex-direcition: column;
			align-items: center;
			justify-content: center;
		}

		.col-xs-12 {
			display: flex;
			flex-direction: column;
			-webkit-flex-direcition: column;
			align-items: center;
			justify-content: center;
			margin-bottom: 50px;
		}


		.team_icons {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 141px;
		}

		.team_icons-circle {
			height: 40px;
			width: 40px;
			border: 3px solid #fff;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-right: 7px;
		}

		.team_icons {
			.fa {
				color: #fff;
				font-size: 20px;
				text-align: center;
			}
		}

		.team_paragraph {
			width: auto;
			margin: 0 auto;
		}

		.team_paragraph {
			p {
				font-size: 20px;
				color: rgba(235, 235, 235, 255);
				text-align: center;
				margin: 50px auto;
				padding: 0 10px;
			}
		}
	}

		.footer {
			height: auto;
			padding-top: 50px;
	}

	.footer {
		.container {
			max-width: 100%;
			width: auto;
		}
			.footer_contact-title {
				padding: 0;
				h3 {
					text-align: center;
				}
				p {
					text-align: center;
				}
			}
	   	.row {
	   		margin: 0 auto 25px auto;
				.media {
					width: 100%;
				}
	   	}
			.row:last-of-type {
				margin: 0 auto;
			}
			.media-left {
				margin-right: 10px;
				display: block;
				width: 40px;
			}
	   .footer_copyrights {
	   		display: flex;
	   		-webkit-flex-direction: column;
	   		flex-direction: column;
	   		align-items: center;
	   		justify-content: center;
	   		margin-top: 45px;
				width: 100%;
	   }

	   .footer_copyrights-rectangle {
	   		height: 1px;
	   		width: 80%;
	   		margin: 0 auto;
	   }

	   .footer_copyrights {
	   		p {
	   		margin-top: 31px;
				padding: 11px;
				text-align: center;
					span {
						margin-top: 5px;
					}
	   		}
	   }
	}
}

@media #{$phone_landscape} {
	.jumbotron {
		background-image: url('../images/Nightbridge.png');
		size: cover;
		repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-position: 50% 100%;
		overflow: hidden;
		resize: both;
		color: #fff;
		height: 801px;
	}
	.jumbotron {
		.navbar-default {
			.navbar-brand {
				margin-left: 0;
			}
		}
		.home {
			h2 {
				margin-top: 70px;
			}
			h1 {
				margin-bottom: 30px;
				margin-top: 20px
			}
		}
		.col-sm-6 {
			width: 50%;
		}
		.navbar-toggler  {
			margin-left: 80%;
			background-color: transparent;
			cursor: pointer;
			color: #fff;
			.navbar-toggler-icon {
			 background-color: transparent;
			}
		}
	}

		.services {
			width: 100%;
			height: auto;
			display: flex;
			flex-direction: column;
			margin-bottom: 100px;
		}

		.services {
			.container {
				max-width: 100%;
				width: auto;
				h3 {
					font-size: 55px;
					text-align: center;
				}
				p {
					text-align: center;
				}
				.col-sm-12 {
				  display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
			}

			.row {
				display: flex;
				flex-direction: column;
				height: auto;
			}

			.row:first-of-type {
				display: flex;
				flex-direction: column-reverse;
			}
		}
		.skills {
			margin-bottom: 0;
		}
		.skills {
			.media {
				p {
					padding: 0 20px 0 20px;
				}
			}
		}

		.clients {
				width: 100%;
				height: auto;
				display: flex;
				flex-direction: column;
				margin-top: 50px;

			.container {
				max-width: 100%;
				width: auto;
				margin: auto;
				display: flex;
				flex-direction: column;
			}

			.clients_title {
				width: auto;
				margin-bottom: 50px;
			}

			.clients_image-left {
				width: 100%;
				display: block;

				.col-xs-12 {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}

			.clients_image-right {
				width: 100%;
				display: block;


				.col-xs-12 {
					display: flex;
					justify-content: center;
					align-items: center;
					padding-left: 0;
				}
			}

			h4 {
				width: 100%;
				padding: 25px 0;
			}

			.clients_logo {
				width: auto;
				height: auto;
				margin: 0 auto;
				display: block;
				.col-xs-12 {
					margin-bottom: 25px;
				}
			}

			.row:last-of-type {
				margin-bottom: 50px;
			}
		}

		.team {
			width: 100%;
			height: auto;
			background-color: $dark-project-grey;
			color: #fff;
		}

		.team {

			.container {
				max-width: 100%;
				width: auto;
				margin: 0 auto;
			}

			.team_title {
				margin-top: 50px;
			}


			.row {
				display: flex;
				flex-direction: column;
				-webkit-flex-direcition: column;
				align-items: center;
				justify-content: center;
			}

			.col-xs-12 {
				display: flex;
				flex-direction: column;
				-webkit-flex-direcition: column;
				align-items: center;
				justify-content: center;
				margin-bottom: 50px;
			}


			.team_icons {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 141px;
			}

			.team_icons-circle {
				height: 40px;
				width: 40px;
				border: 3px solid #fff;
				border-radius: 50%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 7px;
			}

			.team_icons {
				.fa {
					color: #fff;
					font-size: 20px;
					text-align: center;
				}
			}

			.team_paragraph {
				width: auto;
				margin: 0 auto;
			}

			.team_paragraph {
				p {
					font-size: 20px;
					color: rgba(235, 235, 235, 255);
					text-align: center;
					margin-top: 50px;
					margin-bottom: 50px;
				}
			}
		}

			.footer {
				height: auto;
				padding-top: 50px;
		}

		.footer {
			.container {
				max-width: 100%;
				width: auto;
			}

			.footer_contact-title {
				padding: 0;
				h3 {
					text-align: center;
				}
				p {
					text-align: center;
				}
			}
		   	.row {
		   		margin: 0 auto 25px auto;
					.media {
					 margin-left: 33%;
					}
		   	}
				.row:last-of-type {
					margin: 0 auto;
				}

				.media-left {
					margin: 0 10px 0 0;
					display: block;
					width: 40px;
				}
		   .footer_copyrights {
		   		display: flex;
		   		-webkit-flex-direction: column;
		   		flex-direction: column;
		   		align-items: center;
		   		justify-content: center;
		   		margin-top: 45px;
					width: 100%;
		   }

		   .footer_copyrights-rectangle {
		   		height: 1px;
		   		width: 80%;
		   		margin: 0 auto;
		   }

		   .footer_copyrights {
		   		p {
		   		margin-top: 31px;
					padding: 11px;
					text-align: center;
					span {
						margin-top: 5px;
					}
		   		}
		   }
		}
}

@media #{$tablet} {

	.jumbotron {
		.navbar-default {
			.navbar-brand {
				margin-left: 0;
			}
			.navbar-collapse {
				.navbar-nav {
					margin-left: 10%;
				}
			}
		}
		.home {
			h2 {
				margin-top: 50px;
			}
		}
	}
	.skills {
		.media {
			p {
				padding: 0 40px 0 20px;
			}
		}
	}
	.clients {
		width: 100%;
		.container {
			width: 100%;
		}

		.clients_image-left {
			width: 100%;
		}
		.clients_image-right {
			width: 100%;
		}
		h4 {
			width: auto;
		}
		.clients_logo {
			width: 100%;
		}
		.col-md-3 {
			img {
				width: 100%
			}
		}
	}
	.footer {
		height: auto;
		.container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

}
